<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            align-items: center;
            height: 100vh;
        }

        .left-div {
            width: 10px;
            background-color: #007bff;
            height: 100%;
        }

        .right-div {
            flex: 1;
            background-color: #eee;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="left-div"></div>
    <div class="right-div"></div>
</div>
</body>
</html>

